# Framework uczenia maszynowego
tensorflow

# Obsługa obrazów i kompatybilność z TensorFlow
pillow

# Narzędzia do formatowania kodu
black
isort

# Biblioteki numeryczne i ML
numpy
scikit-learn
pandas
matplotlib